<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nothing+You+Could+Do&family=Rock+Salt&family=ZCOOL+KuaiLe&display=swap&family=Noto+Sans+Mono:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <section class="whole">
  <section class="left"> 
    <img src="21.png">
      <h2>Add a message</h2>
  
      <form action="/messages" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="message" name="msg">
        <button type="submit">Submit</button>
      </form>
    </section>

    <section class="right">
        <h1>21 Savage</h1>
        <h2 id="trappin">Why you trappin so hard?</h2>
        <section class="messageBoard">
          <h3>Message Board</h3>
          <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
              <li class="message">
                <span><%=messages[i].name%></span>
                <span>:</span>
                <span><%=messages[i].msg%></span>
                <span><%=messages[i].likes%></span>
                <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
              <% } %>
          </ul>
        </section>
        </section>
      
    </section>
  </section>

  <script src="main.js"></script>

</body>

</html>